<!DOCTYPE html>
<html lang="fr"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
</head>
<body>

<h1>Edit User</h1>
<form action="/users/addUser" method="post" th:object="${user}">
    <label>
        <input type="text" th:field="*{username}" placeholder="Login">
    </label>
    <label>
        <input type="password" th:field="*{password}" placeholder="Password">
    </label>
    <div><input type="submit" value="Add"></div>



    <input type="hidden"
           th:name="${_csrf.parameterName}"
           th:value="${_csrf.token}" />


</form>

</body>
</html>

